{% load static %}

<HTML>
    <HEAD> 
    <TITLE>BioInformatic Data Lake</TITLE>
    <link rel="stylesheet" href="{% static 'LakeFront/style/style.css' %}"> 
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'LakeFront/js/script.js' %}" type="text/javascript"></script>
    </HEAD>

    <body> 
        <div style="margin: 60px ">
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
    
    
           <CENTER><IMG SRC="{% static 'LakeFront/image/lablogo.png' %}" ALIGN="BOTTOM" width="220" height="220" ></CENTER>
            <br>
            <br>


        <div class="MainHeader">
        <CENTER> Welcome to the BioInformatic Data Lake</CENTER>
        <CENTER class="boldedForheader"> A place we do everything for you</CENTER>
        </div>
    <br>
    <br>

    <CENTER>
        <IMG SRC="{% static 'LakeFront/image/demo1.png' %}" ALIGN="CENTER" width="200" height="150" >
        <IMG SRC="{% static 'LakeFront/image/demo2.png' %}" ALIGN="CENTER" width="200" height="150" >
        <IMG SRC="{% static 'LakeFront/image/demo5.png' %}" ALIGN="CENTER" width="200" height="150" >
        <IMG SRC="{% static 'LakeFront/image/demo6.png' %}" ALIGN="CENTER" width="200" height="150" >
    
    </CENTER>

    <br>

    <CENTER>
        <H1 class="boldedForheader" >GENE OF INTEREST</H1>
        <form action="geneAnalysis/" method="post">
            {% csrf_token %}
            <label for="GeneName"></label>
            <input
              type="text"
              name="gene_name"
              id="geneName"
              value="" 
              />
            <input type="submit" value="Search this gene"  onclick = "ganeNameTrigger()"/>
          </form>
    </CENTER>

    </div>
    </body>
    
</HTML>
    
        