{% load static %}

<HTML>
    <HEAD> 
    <TITLE>BioInformatic Data Lake</TITLE>
    <link rel="stylesheet" href="{% static 'LakeFront/style/style.css' %}"> 
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    </HEAD>

    <body> 
        <div style="margin: 100px ">
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
       
           <CENTER><IMG SRC="{% static 'LakeFront/image/UCLogo.jpeg' %}" ALIGN="BOTTOM" width="200" height="200" ></CENTER>
            <br>
            <br>
            <br>
    <HR> 
        <div class="boldedForheader">
        <CENTER> Select the type of analysis for {{gene}}</CENTER>
        </div>
    <HR>
        <br>
    <CENTER class="boldedForHeaderLink">
        <a href="mRNA/">mRNA Expression Analysis</a> &nbsp  &nbsp 
        <a href="DNA/">DNA Mutation Analysis</a> &nbsp  &nbsp 
        <a href="mixtureStage/">Cross sides Analysis </a> &nbsp  &nbsp
        <a href="MlStage/">Survival Analysis </a> &nbsp  &nbsp

        <br>
        <br>
        <br>

        <button onclick="history.back()">Go back to the main page</button>
    </CENTER>

    <br>
    <br>
    <br>
    <br>
</HTML>
    
        