{% load static %}

<HTML>
    <HEAD> 
    <TITLE>BioInformatic Data Lake</TITLE>
    <link rel="stylesheet" href="{% static 'LakeFront/style/style.css' %}"> 
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    </HEAD>

    <body> 
        <div style="margin: 100px ">
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
       
           <CENTER><IMG SRC="{% static 'LakeFront/image/lablogo.png' %}" ALIGN="BOTTOM" width="200" height="200" ></CENTER>
            <br>
            <br>
            <br>
    <HR> 
        <div class="boldedForheader">
        <CENTER> Select the type of analysis for {{gene}}</CENTER>
        </div>
    <HR>
        <br>
    <CENTER class="boldedForHeaderLink">
        <a href="mRNA/">mRNA Expression Analysis</a> &nbsp  &nbsp 
        <a href="DNA/">DNA Mutation Analysis</a> &nbsp  &nbsp 
        <a href="mixtureStage/">Cross sides Analysis </a> &nbsp  &nbsp
        <a href="MlStage/">Survival Analysis </a> &nbsp  &nbsp

        <br>
        <br>
        <br>

        <H1 class="boldedForheader" >Select analysis type and dataset</H1>

        <!-- <label for="analysisType">Choose a car:</label> -->
        <form action="pipeline/" method="post" id="infoform">
            {% csrf_token %}
            <select name="analysisType" id="analysisType" form="infoform">
              <option value="mRNA">mRNA Gene expression analysis</option>
              <option value="DNA">DNA mutataion analysis</option>
              <option value="mixture">mRNA & DNA cross sides analysis</option>
              <option value="ML">Survival analysis</option>
            </select>

            &nbsp  &nbsp 
            &nbsp  &nbsp 

            <select name="geneData" id="geneData" form="infoform">
                <option value="TCGA_PRAD">TCGA_PRAD</option>
                <option value="CBioProtal_PRAD">CBioProtal_PRAD</option>
                <option value="XENE_PRAD">XENE_PRAD</option>
                <option value="ownData">use my own dataset</option>
              </select>
            <input type="hidden" name="geneID" value={{gene}}>
            <br><br>
            <input type="submit" value="Submit">
          </form>

    <br>
    <br>
    <br>

    <button onclick="history.back()">Go back to the main page</button>
</CENTER>


</HTML>
    
        